body {
    background-position: 100%;
    margin: 0px;
    padding: 0px;
}
nav {
    display: flex;
    justify-content:center;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F2CC8F;
    border-radius: 15px;
}
nav a {
    display: flex;
    font-weight: bold;
    font-size: 26px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

}

.signin {
    padding: 12px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    background-color: #E07A5F;
}
footer {
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    flex: 1;
    position: absolute;
    background-color:#F2CC8F;
    border-radius: 15px;
    opacity: 80%;
}
footer a {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    justify-content: center;
    justify-content: space-evenly;
    padding: 5px;
}
footer h2{
    font-weight: bold;
    font-size: 1.4rem;
}
section {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: 1fr 1fr;
    width: 110vh;
    gap: 70px;
    padding: 40px;
    margin-left: 370px;
}
section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border: 2px solid black;
    border-radius: 100px;
    height: 113%;
    width: 108%;
    
}
section div div {
    border:0.1px solid black ;
    border-radius: 100px;
    width: 100.4%;
    height: 186px;
    
}
img {
    width: 100%;
    height: 120%;
    object-fit: cover;
    border-radius: 90px;
    margin-top: -3px;
    margin-left: -3px;
    margin-right: -3px;
}
section div h3 a {
    text-decoration: none;
    color: black;

}
.active2 {
    text-decoration: underline;
}

#themeToggle{
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 20px;
    background-color: #E07A5F;
}

body{
    transition: 0.3s;
}

nav, footer, .signin, .SB, #themeToggle{
    transition: 0.3s;
}

/* DARK MODE */
body.dark{
    background-color: #1E1E1E;
    background-image: none;
    color: white;
}

body.dark nav,
body.dark footer{
    background-color: #2C2C2C;
}

body.dark nav a,
body.dark footer a,
body.dark h1,
body.dark h2,
body.dark p{
    color: white;
}

body.dark .signin,
body.dark .SB,
body.dark #themeToggle{
    background-color: #444;
    color: white;
    border: 1px solid #666;
}

body.dark .SB::placeholder{
    color: #ccc;
}